
@font-face { font-family: '양진체'; src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff'); font-weight: normal; font-style: normal; } 

body{
    --font-main1: 'Neucha', cursive;
    --font-main2: 'Candal', sans-serif;
    --font-main3: 'Boogaloo', cursive;
    --font-main4: 'Lekton', sans-serif;
    --font-main5: 'Belleza', sans-serif;
    --font-main6: 'Limelight', cursive;
    --font-main7: 'Barriecito', cursive;
    --font-roboto: 'Roboto', sans-serif;
    --font-kr: '양진체';
}



/*ham*/
.ham {position: fixed; top: 10px; right: 20px; z-index: 5; width: 40px; height: 40px;}
.ham span {background: rgb(235, 6, 13); width: 35px; height: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.ham span:before{content: ''; background: rgb(255, 194, 0); width: 35px; height: 5px; position: absolute; top: 12px; left: 0; transition: left .3s, transform .3s;}
.ham span:after{content: ''; background: rgb(33, 132, 35); width: 35px; height: 5px; position: absolute; bottom: 12px; left: 0; transition: left .3s, transform .3s;}

.ham:hover span:before{content: ''; background: rgb(255, 194, 0); width: 35px; height: 5px; position: absolute; top: 12px; left: 10px;}
.ham:hover span:after{content: ''; background: rgb(33, 132, 35); width: 35px; height: 5px; position: absolute; bottom: 12px; left: 10px;}

.ham.click span{background: transparent; }
.ham.click span:before{transform: rotate(45deg) translate(-16px);  transition: left .3s, transform .3s;}
.ham.click span:after{transform: rotate(-45deg) translate(-16px);  transition: left .3s, transform .3s;}

/* nav */
.nav {position: fixed; top: 80px; right: -200px; z-index: 5; text-align: right; text-transform: uppercase; white-space: nowrap; transition: right .3s; }
.nav ul li {margin: 3%; padding: 0 10px; right: -200px;}
.nav ul li a {display: block; font-size: 1.2vw; font-family:  var(--font-roboto); font-weight: bold; color: #ff7301;}
.nav.click {right: 40px;}
.nav ul li:nth-child(1) {background: url(../img/wci04.png) no-repeat; background-position: 0 0; background-size: cover;}
.nav ul li:nth-child(2) {background: url(../img/wci04.png) no-repeat; background-position: 0px -35px; background-size: cover;}
.nav ul li:nth-child(3) {background: url(../img/wci04.png) no-repeat; background-position: 0 -70px; background-size: cover;}
.nav ul li:nth-child(4) {background: url(../img/wci04.png) no-repeat; background-position: 0 -105px; background-size: cover;}


/*전체*/
#contents {}
#section1 {background: #000; height: 100vh; }
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/*row*/
.row {width: 100%; padding: 2%;}



/*main*/
.main {position: relative;}
.main .main_top {position: absolute; top: 0; left: 50%; width: 80%; transform: translateX(-50%); display: flex; justify-content: space-around; z-index: 1000;}
.main .main_top strong {position: relative; font-family: var(--font-roboto);}
.main .main_top strong a {color: #fff; font-size: 1.2vw;}
.main .main_top strong:after {content: 'X'; position: absolute; top: 1vw; right: -10vw; color: rgba(255, 255, 255, 0.6); font-size: 12px; font-weight: bold;}
.main .main_top strong:last-child:after {display: none;}

.main .main_tit {height: 100vh; display: flex; justify-content: center; align-items: center; }
.main .main_tit h1 {width: 80%; font-family: var(--font-main7); text-transform: uppercase; text-align: center; color: #fff; font-size: 10vw; font-weight: bold; line-height: 1.2; margin-bottom: 5%; }
.main .main_tit h1 span {display: none;}
.main .main_box {position: absolute; top: 0; left: 0; width: 100%; height: 100vh; overflow-x: hidden;}
.main .main_box .mb_text {position: absolute; display: none;}
.main .main_box .mb_text img {width: 60px;}
.main .main_box .mb_text:nth-child(1) {top: 30%; left: 30%; transform: rotate(20deg);}
.main .main_box .mb_text:nth-child(2) {top: 25%; left: 83%; transform: rotate(-20deg);}
.main .main_box .mb_text:nth-child(3) {top: 78%; left: 37%; transform: rotate(23deg);}
.main .main_box .mb_text:nth-child(4) {top: 56%; left: 56%; transform: rotate(42deg);}
.main .main_box .mb_text:nth-child(5) {top: 27%; left: 65%; transform: rotate(25deg);}
.main .main_box .mb_text:nth-child(6) {top: 56%; left: 35%; transform: rotate(30deg);}
.main .main_box .mb_text:nth-child(7) {top: 33%; left: 38%; transform: rotate(33deg);}
.main .main_box .mb_text:nth-child(8) {top: 22%; left: 56%;transform: rotate(-31deg);}
.main .main_box .mb_text:nth-child(9) {top: 66%; left: 78%; transform: rotate(-3deg);}
.main .main_box .mb_text:nth-child(10) {top: 39%; left: 90%; transform: rotate(13deg);}
.main .main_box .mb_text:nth-child(11) {top: 56%; left: 31%; transform: rotate(-32deg);}
.main .main_box .mb_text:nth-child(12) {top: 81%; left: 13%; transform: rotate(22deg);}
.main .main_box .mb_text:nth-child(13) {top: 22%; left: 58%; transform: rotate(23deg);}
.main .main_box .mb_text:nth-child(14) {top: 44%; left: 87%; transform: rotate(21deg);}
.main .main_box .mb_text:nth-child(15) {top: 55%; left: 71%; transform: rotate(30deg);}
.main .main_box .mb_text:nth-child(16) {top: 66%; left: 22%; transform: rotate(14deg);}
.main .main_box .mb_text:nth-child(17) {top: 25%; left: 13%; transform: rotate(10deg);}
.main .main_box .mb_text:nth-child(18) {top: 65%; left: 46%; transform: rotate(21deg);}
.main .main_box .mb_text:nth-child(19) {top: 72%; left: 65%; transform: rotate(-4deg);}
.main .main_box .mb_text:nth-child(20) {top: 23%; left: 90%; transform: rotate(-7deg);}
.main .main_box .mb_text:nth-child(21) {top: 75%; left: 31%;transform: rotate(-14deg);}
.main .main_box .mb_text:nth-child(22) {top: 23%; left: 1%; transform: rotate(-22deg);}
.main .main_box .mb_text:nth-child(23) {top: 55%; left: 3%; transform: rotate(-25deg);}
.main .main_box .mb_text:nth-child(24) {top: 42%; left: 23%; transform: rotate(22deg);}
.main .main_box .mb_text:nth-child(25) {top: 25%; left: 33%; transform: rotate(16deg);}
.main .main_box .mb_text:nth-child(26) {top: 54%; left: 17%; transform: rotate(23deg);}
.main .main_box .mb_text:nth-child(27) {top: 33%; left: 56%; transform: rotate(11deg);}
.main .main_box .mb_text:nth-child(28) {top: 43%; left: 45%; transform: rotate(7deg);}
.main .main_box .mb_text:nth-child(29) {top: 63%; left: 47%; transform: rotate(13deg);}
.main .main_box .mb_text:nth-child(30) {top: 39%; left: 65%; transform: rotate(32deg);}
.main .main_box .mb_text:nth-child(31) {top: 59%; left: 30%; transform: rotate(20deg);}
.main .main_box .mb_text:nth-child(32) {top: 65%; left: 73%; transform: rotate(-20deg);}
.main .main_box .mb_text:nth-child(33) {top: 78%; left: 57%; transform: rotate(23deg);}
.main .main_box .mb_text:nth-child(34) {top: 56%; left: 56%; transform: rotate(42deg);}
.main .main_box .mb_text:nth-child(35) {top: 38%; left: 62%; transform: rotate(-25deg);}
.main .main_box .mb_text:nth-child(36) {top: 56%; left: 85%; transform: rotate(30deg);}
.main .main_box .mb_text:nth-child(37) {top: 70%; left: 78%; transform: rotate(-31deg);}
.main .main_box .mb_text:nth-child(38) {top: 73%; left: 18%; transform: rotate(2deg);}
.main .main_box .mb_text:nth-child(39) {top: 48%; left: 68%; transform: rotate(-13deg);}
.main .main_box .mb_text:nth-child(40) {top: 33%; left: 3%; transform: rotate(24deg);}
.main .main_box .mb_text:nth-child(41) {top: 68%; left: 67%; transform: rotate(1deg);}
.main .main_box .mb_text:nth-child(42) {top: 55%; left: 8%; transform: rotate(23deg);}
.main .main_box .mb_text:nth-child(43) {top: 31%; left: 28%; transform: rotate(-14deg);}
.main .main_box .mb_text:nth-child(44) {top: 29%; left: 10%; transform: rotate(10deg);}
.main .main_box .mb_text:nth-child(45) {top: 39%; left: 5%; transform: rotate(-5deg);}
.main .main_box .mb_text:nth-child(46) {top: 51%; left: 85%; transform: rotate(3deg);}
.main .main_box .mb_text:nth-child(47) {top: 33%; left: 78%; transform: rotate(-33deg);}
.main .main_box .mb_text:nth-child(48) {top: 47%; left: 15%; transform: rotate(22deg);}
.main .main_box .mb_text:nth-child(49) {top: 52%; left: 58%; transform: rotate(-33deg);}
.main .main_box .mb_text:nth-child(50) {top: 71%; left: 3%; transform: rotate(13deg);}
.main .main_box .mb_text:nth-child(51) {top: 52%; left: 67%; transform: rotate(13deg);}
.main .main_box .mb_text:nth-child(52) {top: 33%; left: 8%; transform: rotate(29deg);}
.main .main_box .mb_text:nth-child(53) {top: 69%; left: 28%; transform: rotate(-24deg);}
.main .main_box .mb_text:nth-child(54) {top: 65%; left: 12%; transform: rotate(9deg);}


.main .main_row {position: absolute; bottom: 25%; left: 50%; transform: translateX(-50%); width: 31px; height: 50px; display: none;}
.main .main_row svg {width: 80%;}
